body{
   background: #E6E6E6 !important;
}


.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#address {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#address:focus {
  border-color: #4d90fe;
}

.address-container {
  font-family: Roboto;
}

#type-selector {
  padding: 0px 11px 0px 11px;
  margin-left: 0px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}


#logo{
  color: white;
  font-weight: bold;
  position:absolute;
  z-index: 2;
  margin-top: 80%;
}

#recuadro{
  border:2px solid #BDBDBD;
  background: #FFFFFF;
  position:absolute;
  margin-top: 30%;
  z-index: 3;
}


#botones{
  margin-top: 140%;
  position: absolute;
  z-index: 2;
  margin-left: 0px;
  float: left;
  width: 260px;
}


#foto-ciudad{
  border: 2px solid red;
  position: absolute;
  z-index: 1; 
}



#map_canvas{
  margin-top:15px;
  margin-bottom: 15px;
}

/*
#imagen{
  width: 100px;
}*/

#izquierda{
  padding-left: 0px;
  height: 750px;
}

.btn_izq{
  font-style: Roboto;
  font-size: 20px;
  font-family: Roboto;
  border:none !important;
  background: #E6E6E6;
  width: 250px;
  text-align: left;
}

.btn_izq:hover{
  font-weight: bold;
  background: gray;
}


#currently-temperature{
  font-size: 50px !important;
  font-weight: bold;
}

#ubicacion{
  font-size: 20px;
}


#info_extend{
  display: none;
}

#icono, .icono-clima{
  background-color: #B404AE !important;
}

.icon{
  width: 100px;
  height: 100px;
  text-align: center;
}


#contenedor{
  position:relative;
}


.lef{
  float: left;
}

.clear{
  float: clear;
}

#centro{
  padding-left: 0px;
}

.icon-black{
  max-width: 15px;
}







/* No funciona porque el html al que hace referencia no está en mi dominio */
/*div.login-control{
  display:none !important;
}*/




